{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>You need to created an account to be able to submit your solutions to the
    coding problems. Since you are a coder, I'm pretty sure you have a Github
    account, right? If no that's OK, you can login through Google</p>
    <p>
        <a class="btn btn-lg btn-social btn-github" href="{% url "social:begin" "github" %}">
            <span class="fa fa-github"></span>
            Login with Github
        </a>
    </p>
    <p>
     <a class="btn btn-lg btn-social btn-google" href="{% url "social:begin" "google-oauth2" %}">
            <span class="fa fa-google-plus"></span>
            "Login with Google"
        </a>
    </p>
</div>
{% endblock %}
